@import "tailwindcss";

**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
/* QuaggaJS video stream styling */
#interactive.viewport {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  #interactive.viewport canvas,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    display: none;
  }